span {
  display: block;
  float: left;
  overflow: hidden;
  height: 23px;
}

.remove-icon {
  width: auto;
  padding-right: 5px;
  line-height: 25px;
}

.remove-text {
  width: auto;
  text-align: left;
  line-height: 22px;
}

button {
  width: 89%;
  border: 1px solid #ca1414;
  color: #ca1414;
  text-align: center;

  &:hover {
    background-color: #960000;
    color: #eee;
  }
}

.remove-block {
  display: inline-block;
  width: auto;
}
