<div class="row">
  <div class="col-12">
    <div class="section-painel section-painel-crud position-relative" [@startUpward]>
      <div class="row">
        <div class="col-12">
          <h1 style="text-align: center;">S.O.S RS</h1>
          <a [routerLink]="'/auth/login'" class='cw-button' style="width: 100%;">
            <div class="cw-button-content">
              <div class="cw-button-content-item">
                <mat-icon>create</mat-icon>
              </div>
              <div class="cw-button-content-item">Cadastre seu abrigo aqui</div>
            </div>
          </a>
        </div>
        <div class="col-12">
          veja também:
          <a style="padding: 10px;"  href="https://www.meulardevolta.com.br/?fbclid=PAZXh0bgNhZW0CMTEAAabJn8-RJCCWjPD4CuUeY1cwja3IW9VatuR_bu4WCbeXWx29ZKfKMQhF0Js_aem_ATFJ7WHkYnX5i1FuXrWCwRd4--mR5Av1LYEhX0rbCLPet6fhMGM3Ldout2tnOsrNfI68-M91tdmKC9eaLdIh483d " target="_blank" rel="noopener noreferrer">
            meu lar de volta
          </a>
          <a style="padding: 10px;"target="_blank" href="https://tosalvo.ong.br/">ta salvo</a>
          <a style="padding: 10px;"target="_blank" href="https://abrigars.com.br/">abrigars</a>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-12 ">
    <div class="section-painel section-painel-crud position-relative" [@startUpward]>
      <form [formGroup]="form">
        <div class="row">
          <cw-control-cva [controlProvider]="control.nome"
            [formControlName]="control.nome.params!.controlName"></cw-control-cva>
          <cw-control-cva [controlProvider]="control.cidade"
            [formControlName]="control.cidade.params!.controlName"></cw-control-cva>
          <div class="col-12">
            <div class='cw-button' style="width: 100%;" (click)="abrirPesquisaAvancada()">
              <div class="cw-button-content">
                <div class="cw-button-content-item">
                  <mat-icon>search</mat-icon>
                </div>
                <div class="cw-button-content-item">Filtro avançado</div>
              </div>
            </div>
            <div class='cw-button' style="width: 100%;" (click)="abrirSobre()">
              <div class="cw-button-content">
                <div class="cw-button-content-item">
                  <mat-icon>info</mat-icon>
                </div>
                <div class="cw-button-content-item">Sobre o APP</div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <ng-container *ngFor="let abrigo of abrigos">
    <div class="col-12 col-md-3 position-relative" [@startUpward]>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><b>{{abrigo.nome}}</b> </h3>
          <p class="card-text">
            <b>Endereço</b>: {{abrigo.enderecoDesc}} <br />
            <ng-container *ngIf="abrigo.chavePix">
              <b>pix de ajuda local</b>: {{abrigo.chavePix}} - {{abrigo.tipoChavePix}}, <b
                style="cursor: pointer; border: 1px solid #999; border-radius: 2px; padding: 2px 3px;"
                (click)="copyMessage(abrigo.chavePix)"> copiar</b><br />
            </ng-container>
          </p>
          <span [class]="abrigo.precisaAjudanteCssClass + ' card-link'">Precisa de ajudante?
            {{abrigo.precisaAjudanteDesc}}</span><br />
          <span [class]="abrigo.precisaAlimentoCssClass + ' card-link'">Precisa de recursos?
            {{abrigo.precisaAlimentoDesc}}</span><br />
          <span [class]="abrigo.capacidadeCssClass + ' card-link'">Capacidade: {{abrigo.capacidadeDesc}}</span><br />

          <div class='cw-button' style="width: 100%;" (click)="verDetalhesAbrigo(abrigo.id)">
            <div class="cw-button-content">
              <div class="cw-button-content-item">
                <mat-icon>info</mat-icon>
              </div>
              <div class="cw-button-content-item">ver detalhes</div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </ng-container>
</div>
