<div style="padding: 10px;">
  <div>
    Queremos centralizar as ajudas!<br />
    Estamos em constantes melhorias e aceitamos sugestões.<br />
    <br />
    <b>Contato:</b> <br />
    <b> <a href="https://www.linkedin.com/in/cassiano-nunes-72113085/"> Cassiano Nunes </a></b> <br />
    <br />
    <b> <a href="https://www.linkedin.com/in/nicolas-soares-522533220/"> Nicolas Soares </a></b> <br />
    <br />
    <b> <a href="https://www.linkedin.com/in/tatiane-de-campos-werkhausen-5296371a9/"> Tatiane Werkhausen </a></b> <br />
    <br />

    <h3>Patrocinio:</h3>
    <b>GSO Medicina Ocupacional</b><br />
    <b>dti digital</b>
  </div>
  <div class='cw-button' style="width: 100%;" (click)="fechar()">
    <div class="cw-button-content">
      <div style="text-align: center;">
        <mat-icon>close</mat-icon>
      </div>
    </div>
  </div>
  <br />
</div>
