<div id="nav">
  <div id="nav-image">
    <img src="https://cdn2.uso.com.br/sites/logos/24243.png" alt="logo" />
  </div>
  <div id="nav-links">
    <a [routerLink]="'properties/imovel'"> <mat-icon class="cw-icon">home</mat-icon> Imóvel </a>
    <a [routerLink]="'properties/locatario'"><mat-icon class="cw-icon">person</mat-icon>Corretor</a>
    <a [routerLink]="'properties/proprietario'"><mat-icon class="cw-icon">business</mat-icon>Construtora</a>
    <a [routerLink]="'properties/contrato'"><mat-icon class="cw-icon">article</mat-icon>contrato</a>
  </div>
