<mat-toolbar class="custom-toolbar toolbar-gradient">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="centered-logo">
      <img src="assets/brasao.svg" alt="Brasão do Rio Grande do Sul" class="logo-img">
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Barra de ferramentas com gradientes de cores -->
<mat-toolbar class="custom-toolbar mat-elevation-z1 sub-bar-gradient">
</mat-toolbar>


<cw-nav *ngIf="exibeMenu()"/>

<div class="container-fluid">
  <div class="row">
    <div *ngIf="!exibeMenu()" class="col-12">
      <router-outlet />
    </div>
    <div *ngIf="exibeMenu()" class="offset-3 col-md-9">
      <router-outlet />
    </div>
  </div>
</div>

